# Research Smart Contract Verification
### How to verify smart contracts deployed via Hardhat on the Metis blockchain

When you deploy a smart contract to A blockchain, what is available is the byte code. To verify and publish your smart contract is to make the source code available on the blockchain for everyone to see, this helps you to gain trust from investors and users.
